form#form-filter {
  margin-top: 75px;

  select {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $gray-dark;
    padding: 5px;
  }

  @include breakpoint(min-width 600px) {
    margin-bottom: 15px;
  }
}

ul#filter {
  margin-bottom: 25px;
  padding-left: 0px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    font-family: 'Boogaloo';
    list-style: none;
    text-align: center;
    padding: 0px 24px;
    
    @include breakpoint($screen-md) {
      padding: 0px 42px;
    }
    
    @include breakpoint($screen-lg) {
      padding: 0px;
    }

    a {
      font-size: 32px;
      color: #000;
      text-decoration: none;

      &.active {
        color: #a6e1f4;
         -webkit-text-stroke-width: 2px;
         -webkit-text-stroke-color: #555;
      }
    }
  }
}
