form#form-filter {
  margin-top: 75px;

  select {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $gray-dark;
    padding: 5px;
  }

  @include breakpoint(min-width 600px) {
    margin-bottom: 15px;
  }
}

ul#filter {
  margin-bottom: 25px;
  padding-left: 0px;
  font-size: 0;

  li {
    font-family: 'Boogaloo';
    list-style: none;
    display: inline-block;
    text-align: center;

    a {
      font-size: 32px;
      color: #000;
      text-decoration: none;

      &.active {
        color: #a6e1f4;
         -webkit-text-stroke-width: 2px;
         -webkit-text-stroke-color: #555;
      }
    }
  }

  &.portfolio-filter, &.project-filter {
    li {
      padding-left: 28px;
      padding-right: 28px;
    }

    li:nth-child(7),
    li:nth-child(8),
    li:nth-child(9) {
      padding-left: 62px;
      padding-right: 62px;
    }

    @include breakpoint($screen-md) {
      li {
        padding-left: 46px;
        padding-right: 46px;
      }

      li:nth-child(7),
      li:nth-child(8),
      li:nth-child(9) {
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    @include breakpoint($screen-lg) {
      li {
        padding-left: 22px;
        padding-right: 22px;
      }

      li:nth-child(7),
      li:nth-child(8),
      li:nth-child(9) {
        padding-left: 22px;
        padding-right: 22px;
      }
    }
  }

  &.skill-filter {
    li {
      width: calc(100% / 6);
    }
  }
}
