@font-face {
  font-family: FantasticParty;
  src: local("fantastic"),
       url(../fonts/fantastic.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Boogaloo;
  src: local("boogaloo"),
       url(../fonts/boogaloo.ttf);
  font-weight: normal;
}

